In [271]:
# Loading Libraries

import requests
import bs4 as bs
import numpy as np
import pandas as pd

In [272]:
source1 = requests.get("https://en.wikipedia.org/wiki/COVID-19_pandemic_by_country_and_territory").content
source1

df_covid = pd.read_html(source1,attrs={'class':'wikitable sortable tpl-blanktable'})[0]
df_covid

,Country,Country.1,Deathsper million,Deaths,Cases,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,World[a],686,5406818,281400646,NaN,NaN,NaN
1,NaN,Peru,6070,202524,2279299,NaN,NaN,NaN
2,NaN,Bulgaria,4440,30623,735998,NaN,NaN,NaN
3,NaN,Bosnia and Herzegovina,4083,13325,288128,NaN,NaN,NaN
4,NaN,Hungary,4021,38743,1245319,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
213,NaN,"Saint Helena, Ascension and Tristan da Cunha",—,—,4,NaN,NaN,NaN
214,NaN,Macau,—,—,78,NaN,NaN,NaN
215,NaN,Kiribati,—,—,2,NaN,NaN,NaN
216,NaN,Tonga,—,—,1,NaN,NaN,NaN
217,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...

In [273]:
# Cleaning

for column in ["Cases", "Deaths", "Deathsper million"]:
    df_covid[column] = df_covid[column].str.replace(r"[^0-9]", '', regex=True)
    df_covid[column] = df_covid[column].apply(pd.to_numeric)

df_covid = df_covid[:-1]
# df_covid["recovered"] = df_covid["Cases"] - df_covid["Deaths"] 
df_covid.drop(columns=["Country","Unnamed: 5", "Unnamed: 6", "Unnamed: 7"], inplace=True)
df_covid

/Users/sarthak/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Country.1,Deathsper million,Deaths,Cases
0,World[a],686.0,5406818.0,281400646
1,Peru,6070.0,202524.0,2279299
2,Bulgaria,4440.0,30623.0,735998
3,Bosnia and Herzegovina,4083.0,13325.0,288128
4,Hungary,4021.0,38743.0,1245319
...,...,...,...,...
212,Vatican City,NaN,0.0,27
213,"Saint Helena, Ascension and Tristan da Cunha",NaN,NaN,4
214,Macau,NaN,NaN,78
215,Kiribati,NaN,NaN,2
216,Tonga,NaN,NaN,1

In [274]:
df_covid.rename(index=str, columns={"Country.1": "country", "Deathsper million": "deaths_per_million", "Deaths": "deaths"}, inplace=True)

df_covid['country'] = df_covid['country'].str.replace(r"\[\w*\]+", '', regex=True)

df_covid = df_covid.dropna() 
df_covid = df_covid.set_index('country')
df_covid['cases_per_deaths'] = df_covid['Cases']/df_covid['deaths']
df_covid = df_covid.sort_values(by = 'cases_per_deaths', ascending = False)
df_covid.head(20)

/Users/sarthak/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
/var/folders/4b/y_sx2hgd4sndx3kdqd2y0p540000gn/T/ipykernel_12206/2704136860.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_covid['country'] = df_covid['country'].str.replace(r"\[\w*\]+", '', regex=True)

                      deaths_per_million  deaths   Cases  cases_per_deaths
country
Greenland                           17.0     1.0    2306       2306.000000
Bhutan                               3.0     3.0    2660        886.666667
Cayman Islands                     165.0    11.0    8386        762.363636
Burundi                              3.0    38.0   26224        690.105263
Iceland                            107.0    37.0   24340        657.837838
Faroe Islands                      265.0    13.0    5261        404.692308
Qatar                              210.0   616.0  248435        403.303571
Maldives                           480.0   261.0   95032        364.107280
United Arab Emirates               216.0  2159.0  753065        348.802686
Singapore                          151.0   825.0  278044        337.023030
Anguilla                           330.0     5.0    1646        329.200000
Laos                                44.0   328.0  106778        325.542683
Norway                             230.0  1258.0  378087        300.546105
New Zealand                          9.0    50.0   13932        278.640000
Cyprus                             703.0   630.0  152685        242.357143
Denmark                            533.0  3101.0  640413        206.518220
Bahrain                            797.0  1394.0  280109        200.939024
Isle of Man                        784.0    67.0   13451        200.761194
Mongolia                           617.0  2056.0  388755        189.083171
Seychelles                        1324.0   131.0   24412        186.351145

While the metrics cases, or deaths are a portion of the total population, this metric namely cases_per_deaths tries to give a better understanding of a country's healthcare systems, where one would want the deaths to be lower and recovery higher, which are both inferred from the healthcare systems of a country.